<div class="container">
	<h2>Your Profile</h2>
	<%= link_to "Home", articles_path %>
	<%= link_to "account", users_path %>
	<%= link_to "sign out", destroy_user_session_path, method: :delete %><br>

	<div class="col-sm-4">
		<%= image_tag @user.avatar_url, :class => "img-thumbnail", size: "235" %>				
	</div>
	<div class="col-sm-8">
		<table class="table table-bordered table-hover" style="margin: 0 auto;">
			<thead>
				<tr>
					<th>Field</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>Fullname</td>
					<td><%= @user.fullname %></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><%= @user.address %></td>
				</tr>
				<tr>
					<td>Phone</td>
					<td><%= @user.phone %></td>
				</tr>
			</tbody>
		</table><!-- End table -->				
	</div>
</div><!-- End div container -->
