<div class="container">
	
	<h2>Register success</h2>

	

	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
			<%= image_tag @avatar_url, size: '128' %>
		</div>

		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-10">
			mail: <%= @user.email %><br>
			role: <%= @user.role %><br>
			fullname: <%= @user.fullname %><br>
			address: <%= @user.address %><br>
			phone: <%= @user.phone %>
		</div>
	</div>

	<%= link_to "Your profile", profile_path %>
</div>
