
<% content_for :form_login  do %>
  <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5 form_log_in">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="col-xs-5">
          <%= f.email_field :email, autofocus: true,placeholder: "Email", :class => "form-control" %>
        </div>            
        <div class="col-xs-5">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class => "form-control" %>
        </div>     
          <%= f.submit "Đăng nhập", :class => "btn btn-primary btn_login nopadding-lr color-button" %>
        <div class="clearfix"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>          
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
          <%= render "users/shared/links" %>          
        </div>
      </div>
   <% end %>
<% end %>

<div class="container  content">
  <div class="col-md-7">
    
    <% 5.times do %>
    <div class="row well">          
      <div class="col-md-1 nopadding">              
        <%= image_tag "image-test.img", :class => "rounded mx-auto d-block  nopadding", size: "40" %>
      </div>

      <div class="col-md-11 nopadding"> 
        <h3><a href="#">nick name</a></h3>
        <small>
          <a href="">date and time</a>
        </small>            
      </div>
        
      <div class="art_content text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <hr>
      <div class="row">
        <legend class="legend">
          <span class="glyphicon glyphicon-heart color-red">100</span>
          <span class="glyphicon glyphicon-ban-circle">2</span>
        </legend>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <img src="/assets/image-test.img" class="avatar_sm" alt="avatar">
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 nopadding">
          <div class="col-md-11 nopadding  text-justify"> 
            <span class="h4 nopadding">
              <a href="#">nick name</a>
              <small class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                    
            </small>
            </span>

            <small>
              <a href="">date and time</a>
            </small>            
          </div>
          
        </div>
      </div>
      <form action="" method="POST" class="form-horizontal" role="form">
        <div class="row form-group nopadding">
          <div class="col-sm-1 nopadding">
            <img src="/assets/image-test.img" class="avatar_sm" alt="avatar">
          </div>
          <div class="col-sm-8 nopadding">
            <textarea name="" id="input" class="form-control" rows="1" required="required" placeholder="Enter your conment"></textarea>                     
          </div>
          <div class="col-sm-2 col-sm-offset-2 nopadding pull-right">
            <button type="submit" class="btn btn-primary color-button">Xác nhận</button>
          </div>
        </div>  
      </form> 
    </div><!--End article group-->
    <% end %>

  </div>

  <div class="col-md-5 form_sign_up">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h2>
        Đăng ký tài khoản       
      </h2>
        
      <div class="form-group">              
        <!-- <input type="text" class="form-control" id="" placeholder="Fullname"> -->
        <%= f.text_field :fullname, autofocus: true, placeholder: "Fullname", :class => "form-control" %>
      </div>
      <div class="form-group">              
        <!-- <input type="text" class="form-control" id="" placeholder="Email"> -->
        <%= f.email_field :email, autofocus: true, placeholder: "Email", :class => "form-control" %>
      </div>
      <div class="form-group">              
        <!-- <input type="text" class="form-control" id="" placeholder="Password"> -->
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class => "form-control" %>
      </div>
      <div class="form-group">              
        <!-- <input type="text" class="form-control" id="" placeholder="Confirm Password"> -->
        <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirm Password", :class => "form-control" %>
      </div>  
      <!-- <button type="submit" class="btn btn-primary pull-right">Tạo tài khoản</button> -->
      <%= f.submit "Tạo tài khoản", :class => "btn btn-primary pull-right color-button" %>
    <% end %>
  </div>        
</div><!-- End content -->
