<h1>Articles#index</h1>

<% if cannot? :manage, @article %>
	<%= link_to "(login)", new_user_session_path %>
<% end %>

<br>

<table>
	<tr>
		<td class="td1">Title</td>
		<td class="td2">Content</td>
		<% if can? :create, @article %>
		<td class="td3">
			<%=  link_to "Create new article", new_article_path %>
		</td>
		<% end %>
	</tr>

	<% if @articles.count == 0 %>
	<tr>
		<td>...</td>
		<td>...</td>
		<td>...</td>
	</tr>
	<% end %>

	<% @articles.each do |article| %>
	<tr>
		<td>
			<%= article.title %>
		</td>

		<td>
			<%= article.content %>
		</td>

		<% if can? :manage, @article %>		
		<td>
			<%= link_to "show", article_path(article) %>
			<%= link_to "edit", edit_article_path(article) %>
			<%= link_to "delete", article_path(article), method: :delete, data:{ confirm: "Are you sure?"} %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>

