<h2>Create new article</h2>

<%= form_for :article, url: articles_path, method: :post do |f| %>  
<%if @article.errors.full_messages.any? %>
  <% @article.errors.full_messages.each do |error_message| %>
    <% puts error_message %>
  <% end %>
<% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>