<h2>show article</h2>
<span> |(Title:) </span>
<%= @article.title %><br>
<span> |(Content:) </span>
<%= @article.content %><br>
<span>  |(Created_at:) </span>
<%= @article.created_at %><br>
<span>  |(Updated_at:) </span>
<%= @article.updated_at %> <br>
<%= link_to "Back", root_path %>