// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, td{
	border: 1px solid black;
}

table{
	width: 80%;
	margin: 30px auto;
}
	.td1{
		width: 20%;
	}
	.td2{
		width: 65%;
	}